{% block breadcrumb %}
<div class="breadcrumb-container">
    {% set current = section | default(value=page) %}
    {% for ancestor in current.ancestors %}
      {% set section = get_section(path=ancestor) %}
      {% if loop.first and current_path == "/" %}
        {{ section.title }}
      {% else %}
        <a class="breadcrumb-path" href="{{ section.permalink }}">{{ section.title }}</a>
      {% endif %}
      <span class="breadcrumb-separator">></span>
    {% endfor %}
    {% if current.slug %}
         {% set title = current.slug%}
       {% else%}
         {% set title = current.title%}
    {% endif%}
    {% if current_path == "/" %}
      <a class="breadcrumb-path" href="{{ current.permalink }}" id="{{ title }}">{{ title }}</a>
    {% else%}
      {{ title }}
    {% endif%}
</div>
{% endblock breadcrumb %}
