<div class="container {% if config.extra.sidebar_sticky %}sidebar-sticky{% endif %}">
  {% include "layouts/_sitenav.html" %}
  <div class="sidebar-about">
    {% block sidebar_about %}
        <a href="{{ config.base_url }}"><h1>{{ config.title }}</h1></a>
        {% if config.description %}
        <p class="lead">{{config.description}}</p>
        {% endif %}
    {% endblock sidebar_about %}
  </div>
  <ul class="sidebar-nav">
      {% for link in config.extra.sidebar_links %}
      <li class="sidebar-nav-item"><a href="{{link.url}}">{{link.name}}</a></li>
      {% endfor %}
  </ul>
</div>