{%- import "macros.html" as macros -%}
<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
      {% include "layouts/_metas.html" %}
      {% include "layouts/_head.html" %}
    </head>
    <body class="{{ config.extra.color_theme }} {% if config.extra.sidebar_reverse %}layout-reverse{% endif %}">
      <div class="sidebar">
        {% block sidebar %}
          {% include "layouts/_sidebar.html" %}
        {% endblock sidebar %}
      </div>
      <div class="content container">
        {% block content %}{% endblock content %}
      </div>
    </body>
</html>
