<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>      
      {% include "layouts/_head.html" %}
      {% block extra_head %}
      {% endblock extra_head %}
      {% block open_graph %}
        <meta property="og:image" content="/assets/images/me.jpg" />
      {% endblock open_graph %}
    </head>
    <body class="{{ config.extra.color_theme }} {% if config.extra.sidebar_reverse %}layout-reverse{% endif %}">
      <div class="sidebar">
        {% block sidebar %}
          {% include "layouts/_sidebar.html" %}
        {% endblock sidebar %}
      </div>
      <div class="content container">
        {% block content %}
        {% endblock content %}
      </div>
    </body>
</html>
