@import url(https://themes.googleusercontent.com/fonts/css?kit=RFda8w1V0eDZheqfcyQ4EHaYiPAslbK81rCSwRSnoRqS4b96hY1-3VJ9ZmMXwl4S);.lst-kix_d52h1clnbs3c-5>li:before{content:"\0025a0   "}
ul.lst-kix_lnyposc43gy-8{list-style-type:none}
ul.lst-kix_lnyposc43gy-7{list-style-type:none}
ul.lst-kix_lnyposc43gy-6{list-style-type:none}
.lst-kix_d52h1clnbs3c-3>li:before{content:"\0025cf   "}
ul.lst-kix_lnyposc43gy-5{list-style-type:none}
ul.lst-kix_lnyposc43gy-4{list-style-type:none}
.lst-kix_d52h1clnbs3c-2>li:before{content:"\0025a0   "}
ul.lst-kix_lnyposc43gy-3{list-style-type:none}
.lst-kix_d52h1clnbs3c-6>li:before{content:"\0025cf   "}
ul.lst-kix_lnyposc43gy-2{list-style-type:none}
.lst-kix_d52h1clnbs3c-1>li:before{content:"\0025cb   "}
.lst-kix_d52h1clnbs3c-7>li:before{content:"\0025cb   "}
.lst-kix_d52h1clnbs3c-0>li:before{content:"\00200b   "}
.lst-kix_d52h1clnbs3c-8>li:before{content:"\0025a0   "}
.lst-kix_kz9drd72whwj-5>li:before{content:"\0025a0   "}
ul.lst-kix_umsjptpng2kv-1{list-style-type:none}
ul.lst-kix_umsjptpng2kv-0{list-style-type:none}
.lst-kix_kz9drd72whwj-6>li:before{content:"\0025cf   "}
ul.lst-kix_umsjptpng2kv-3{list-style-type:none}
ul.lst-kix_umsjptpng2kv-2{list-style-type:none}
ul.lst-kix_umsjptpng2kv-5{list-style-type:none}
ul.lst-kix_umsjptpng2kv-4{list-style-type:none}
.lst-kix_kz9drd72whwj-7>li:before{content:"\0025cb   "}
ul.lst-kix_umsjptpng2kv-7{list-style-type:none}
ul.lst-kix_umsjptpng2kv-6{list-style-type:none}
.lst-kix_d52h1clnbs3c-4>li:before{content:"\0025cb   "}
ul.lst-kix_umsjptpng2kv-8{list-style-type:none}
.lst-kix_kz9drd72whwj-8>li:before{content:"\0025a0   "}
.lst-kix_dpif2rk083cl-5>li:before{content:"\0025a0   "}
.lst-kix_dpif2rk083cl-6>li:before{content:"\0025cf   "}
.lst-kix_dpif2rk083cl-3>li:before{content:"\0025cf   "}
.lst-kix_dpif2rk083cl-4>li:before{content:"\0025cb   "}
.lst-kix_dpif2rk083cl-7>li:before{content:"\0025cb   "}
.lst-kix_dpif2rk083cl-8>li:before{content:"\0025a0   "}
ul.lst-kix_toq7kum2jbtj-4{list-style-type:none}
ul.lst-kix_toq7kum2jbtj-3{list-style-type:none}
ul.lst-kix_toq7kum2jbtj-6{list-style-type:none}
ul.lst-kix_toq7kum2jbtj-5{list-style-type:none}
ul.lst-kix_toq7kum2jbtj-8{list-style-type:none}
ul.lst-kix_toq7kum2jbtj-7{list-style-type:none}
.lst-kix_kz9drd72whwj-4>li:before{content:"\0025cb   "}
ul.lst-kix_3expns8knkd9-2{list-style-type:none}
.lst-kix_xgzjcq1evzzp-3>li:before{content:"\0025cf   "}
ul.lst-kix_3expns8knkd9-1{list-style-type:none}
ul.lst-kix_3expns8knkd9-4{list-style-type:none}
ul.lst-kix_3expns8knkd9-3{list-style-type:none}
.lst-kix_kz9drd72whwj-3>li:before{content:"\0025cf   "}
.lst-kix_xgzjcq1evzzp-1>li:before{content:"\0025cb   "}
ul.lst-kix_3expns8knkd9-0{list-style-type:none}
.lst-kix_xgzjcq1evzzp-2>li:before{content:"\0025a0   "}
.lst-kix_kz9drd72whwj-2>li:before{content:"\0025a0   "}
ul.lst-kix_lnyposc43gy-1{list-style-type:none}
ul.lst-kix_lnyposc43gy-0{list-style-type:none}
.lst-kix_umsjptpng2kv-8>li:before{content:"\0025a0   "}
.lst-kix_kz9drd72whwj-1>li:before{content:"\0025cb   "}
ul.lst-kix_3expns8knkd9-6{list-style-type:none}
ul.lst-kix_3expns8knkd9-5{list-style-type:none}
ul.lst-kix_3expns8knkd9-8{list-style-type:none}
.lst-kix_xgzjcq1evzzp-0>li:before{content:"\002022   "}
ul.lst-kix_3expns8knkd9-7{list-style-type:none}
.lst-kix_umsjptpng2kv-7>li:before{content:"\0025cb   "}
.lst-kix_kz9drd72whwj-0>li:before{content:"\002022   "}
.lst-kix_umsjptpng2kv-4>li:before{content:"\0025cb   "}
.lst-kix_umsjptpng2kv-6>li:before{content:"\0025cf   "}
.lst-kix_umsjptpng2kv-5>li:before{content:"\0025a0   "}
.lst-kix_9yx0ta6ysurn-0>li:before{content:"\002022   "}
.lst-kix_umsjptpng2kv-2>li:before{content:"\0025a0   "}
.lst-kix_umsjptpng2kv-3>li:before{content:"\0025cf   "}
.lst-kix_3expns8knkd9-0>li:before{content:"\00200b   "}
.lst-kix_toq7kum2jbtj-0>li:before{content:"\002022   "}
.lst-kix_3expns8knkd9-1>li:before{content:"\0025cb   "}
.lst-kix_dpif2rk083cl-0>li:before{content:"\002022   "}
.lst-kix_umsjptpng2kv-1>li:before{content:"\0025cb   "}
.lst-kix_dpif2rk083cl-1>li:before{content:"\0025cb   "}
.lst-kix_dpif2rk083cl-2>li:before{content:"\0025a0   "}
.lst-kix_3expns8knkd9-3>li:before{content:"\0025cf   "}
.lst-kix_umsjptpng2kv-0>li:before{content:"\002022   "}
.lst-kix_3expns8knkd9-2>li:before{content:"\0025a0   "}
.lst-kix_3expns8knkd9-8>li:before{content:"\0025a0   "}
.lst-kix_lnyposc43gy-4>li:before{content:"\0025cb   "}
.lst-kix_toq7kum2jbtj-8>li:before{content:"\0025a0   "}
.lst-kix_3expns8knkd9-7>li:before{content:"\0025cb   "}
.lst-kix_toq7kum2jbtj-6>li:before{content:"\0025cf   "}
.lst-kix_lnyposc43gy-3>li:before{content:"\0025cf   "}
.lst-kix_lnyposc43gy-7>li:before{content:"\0025cb   "}
.lst-kix_toq7kum2jbtj-7>li:before{content:"\0025cb   "}
.lst-kix_3expns8knkd9-4>li:before{content:"\0025cb   "}
.lst-kix_3expns8knkd9-5>li:before{content:"\0025a0   "}
.lst-kix_9yx0ta6ysurn-8>li:before{content:"\0025a0   "}
.lst-kix_3expns8knkd9-6>li:before{content:"\0025cf   "}
.lst-kix_lnyposc43gy-6>li:before{content:"\0025cf   "}
.lst-kix_lnyposc43gy-5>li:before{content:"\0025a0   "}
.lst-kix_toq7kum2jbtj-1>li:before{content:"\0025cb   "}
.lst-kix_9yx0ta6ysurn-7>li:before{content:"\0025cb   "}
.lst-kix_9yx0ta6ysurn-4>li:before{content:"\0025cb   "}
.lst-kix_9yx0ta6ysurn-6>li:before{content:"\0025cf   "}
.lst-kix_toq7kum2jbtj-2>li:before{content:"\0025a0   "}
.lst-kix_toq7kum2jbtj-3>li:before{content:"\0025cf   "}
.lst-kix_9yx0ta6ysurn-1>li:before{content:"\0025cb   "}
.lst-kix_9yx0ta6ysurn-5>li:before{content:"\0025a0   "}
.lst-kix_lnyposc43gy-8>li:before{content:"\0025a0   "}
.lst-kix_toq7kum2jbtj-4>li:before{content:"\0025cb   "}
.lst-kix_9yx0ta6ysurn-2>li:before{content:"\0025a0   "}
.lst-kix_toq7kum2jbtj-5>li:before{content:"\0025a0   "}
.lst-kix_9yx0ta6ysurn-3>li:before{content:"\0025cf   "}
ul.lst-kix_d52h1clnbs3c-5{list-style-type:none}
.lst-kix_lnyposc43gy-0>li:before{content:"\002022   "}
ul.lst-kix_d52h1clnbs3c-6{list-style-type:none}
ul.lst-kix_d52h1clnbs3c-7{list-style-type:none}
ul.lst-kix_d52h1clnbs3c-8{list-style-type:none}
.lst-kix_lnyposc43gy-2>li:before{content:"\0025a0   "}
.lst-kix_lnyposc43gy-1>li:before{content:"\0025cb   "}
ul.lst-kix_xgzjcq1evzzp-6{list-style-type:none}
ul.lst-kix_xgzjcq1evzzp-7{list-style-type:none}
ul.lst-kix_xgzjcq1evzzp-8{list-style-type:none}
ul.lst-kix_d52h1clnbs3c-0{list-style-type:none}
ul.lst-kix_9yx0ta6ysurn-0{list-style-type:none}
ul.lst-kix_d52h1clnbs3c-1{list-style-type:none}
ul.lst-kix_d52h1clnbs3c-2{list-style-type:none}
ul.lst-kix_9yx0ta6ysurn-2{list-style-type:none}
ul.lst-kix_d52h1clnbs3c-3{list-style-type:none}
ul.lst-kix_9yx0ta6ysurn-1{list-style-type:none}
ul.lst-kix_d52h1clnbs3c-4{list-style-type:none}
ul.lst-kix_9yx0ta6ysurn-4{list-style-type:none}
ul.lst-kix_9yx0ta6ysurn-3{list-style-type:none}
ul.lst-kix_9yx0ta6ysurn-6{list-style-type:none}
ul.lst-kix_9yx0ta6ysurn-5{list-style-type:none}
ul.lst-kix_9yx0ta6ysurn-8{list-style-type:none}
ul.lst-kix_9yx0ta6ysurn-7{list-style-type:none}
ul.lst-kix_dpif2rk083cl-8{list-style-type:none}
ul.lst-kix_kz9drd72whwj-8{list-style-type:none}
ul.lst-kix_dpif2rk083cl-7{list-style-type:none}
ul.lst-kix_kz9drd72whwj-6{list-style-type:none}
ul.lst-kix_kz9drd72whwj-7{list-style-type:none}
ul.lst-kix_dpif2rk083cl-0{list-style-type:none}
ul.lst-kix_dpif2rk083cl-2{list-style-type:none}
ul.lst-kix_dpif2rk083cl-1{list-style-type:none}
ul.lst-kix_dpif2rk083cl-4{list-style-type:none}
ul.lst-kix_dpif2rk083cl-3{list-style-type:none}
ul.lst-kix_dpif2rk083cl-6{list-style-type:none}
.lst-kix_xgzjcq1evzzp-4>li:before{content:"\0025cb   "}
ul.lst-kix_dpif2rk083cl-5{list-style-type:none}
ul.lst-kix_toq7kum2jbtj-0{list-style-type:none}
.lst-kix_xgzjcq1evzzp-5>li:before{content:"\0025a0   "}
ul.lst-kix_toq7kum2jbtj-2{list-style-type:none}
.lst-kix_xgzjcq1evzzp-6>li:before{content:"\0025cf   "}
ul.lst-kix_toq7kum2jbtj-1{list-style-type:none}
ul.lst-kix_kz9drd72whwj-0{list-style-type:none}
.lst-kix_xgzjcq1evzzp-7>li:before{content:"\0025cb   "}
ul.lst-kix_kz9drd72whwj-1{list-style-type:none}
ul.lst-kix_xgzjcq1evzzp-0{list-style-type:none}
ul.lst-kix_xgzjcq1evzzp-1{list-style-type:none}
ul.lst-kix_kz9drd72whwj-4{list-style-type:none}
ul.lst-kix_xgzjcq1evzzp-2{list-style-type:none}
ul.lst-kix_kz9drd72whwj-5{list-style-type:none}
ul.lst-kix_xgzjcq1evzzp-3{list-style-type:none}
ul.lst-kix_kz9drd72whwj-2{list-style-type:none}
ul.lst-kix_xgzjcq1evzzp-4{list-style-type:none}
.lst-kix_xgzjcq1evzzp-8>li:before{content:"\0025a0   "}
ul.lst-kix_kz9drd72whwj-3{list-style-type:none}
ul.lst-kix_xgzjcq1evzzp-5{list-style-type:none}
li.li-bullet-0:before{margin-left:-4.5pt;white-space:nowrap;display:inline-block;min-width:4.5pt}
ol{margin:0;padding:0}
table td,table th{padding:0}
.c33{border-right-style:solid;border-bottom-color:#ff0000;border-top-width:0pt;border-right-width:0pt;border-left-color:#ff0000;vertical-align:top;border-right-color:#ff0000;border-left-width:0pt;border-top-style:solid;border-left-style:solid;border-bottom-width:0pt;width:117.8pt;border-top-color:#ff0000;border-bottom-style:solid}
.c34{border-right-style:solid;border-bottom-color:#ff0000;border-top-width:0pt;border-right-width:0pt;border-left-color:#ff0000;vertical-align:top;border-right-color:#ff0000;border-left-width:0pt;border-top-style:solid;border-left-style:solid;border-bottom-width:0pt;width:421.5pt;border-top-color:#ff0000;border-bottom-style:solid}
.c22{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:36pt;font-family:"Merriweather";font-style:normal}
.c1{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:10pt;font-family:"Roboto";font-style:normal}
.c10{margin-left:4.5pt;padding-top:10pt;text-indent:-4.5pt;padding-bottom:0pt;line-height:1.0;text-align:left;margin-right:21pt}
.c2{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:9pt;font-family:"Roboto";font-style:normal}
.c12{color:#0b5394;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:10pt;font-family:"Roboto";font-style:normal}
.c24{color:#0b5394;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Roboto";font-style:normal}
.c5{color:#0b5394;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:13pt;font-family:"Roboto";font-style:normal}
.c19{color:#666666;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:10pt;font-family:"Roboto";font-style:normal}
.c9{color:#000000;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:13pt;font-family:"Roboto";font-style:normal}
.c29{color:#000000;text-decoration:none;vertical-align:baseline;font-size:9pt;font-style:normal}
.c18{border-spacing:0;border-collapse:collapse;margin-right:auto}
.c37{-webkit-text-decoration-skip:none;color:#0b5394;text-decoration:underline;text-decoration-skip-ink:none}
.c3{padding-top:0pt;padding-bottom:0pt;line-height:1.0;text-align:left}
.c6{font-size:10pt;font-family:"Roboto";color:#666666;font-weight:400}
.c36{padding-top:0pt;padding-bottom:0pt;line-height:1.15;text-align:left}
.c40{padding-top:0pt;padding-bottom:10pt;line-height:1.15;text-align:left}
.c21{padding-top:10pt;padding-bottom:0pt;line-height:0.3;text-align:left}
.c35{padding-top:10pt;padding-bottom:0pt;line-height:1.15;text-align:left}
.c7{text-decoration-skip-ink:none;-webkit-text-decoration-skip:none;color:#1155cc;text-decoration:underline}
.c11{padding-top:12pt;padding-bottom:0pt;line-height:0.3;text-align:left}
.c16{margin-left:4.5pt;text-indent:-4.5pt;margin-right:21pt}
.c13{background-color:#ffffff;max-width:525.6pt;padding:28.8pt 43.2pt 28.8pt 43.2pt}
.c4{margin-left:18pt;padding-left:-13.5pt;margin-right:21pt}
.c0{font-size:6pt;font-family:"Roboto";font-weight:400}
.c17{margin-left:4.5pt;text-indent:-4.5pt}
.c38{font-weight:400;font-family:"Merriweather"}
.c14{color:#0b5394;font-size:12pt}
.c20{color:inherit;text-decoration:inherit}
.c30{padding:0;margin:0}
.c15{font-family:"Roboto";font-weight:400}
.c25{font-weight:700}
.c23{height:10pt}
.c8{page-break-after:avoid}
.c27{margin-left:9pt}
.c31{font-style:italic}
.c26{font-family:"Roboto"}
.c28{height:229.5pt}
.c32{font-size:10pt}
.c39{margin-right:-52.8pt}
.title{padding-top:0pt;color:#000000;font-weight:700;font-size:36pt;padding-bottom:6pt;font-family:"Roboto";line-height:1.0;text-align:left}
.subtitle{padding-top:0pt;color:#000000;font-size:9pt;padding-bottom:0pt;font-family:"Roboto";line-height:1.0;page-break-after:avoid;text-align:left}
li{color:#000000;font-size:10pt;font-family:"Roboto"}
p{margin:0;color:#000000;font-size:10pt;font-family:"Roboto"}
h1{padding-top:0pt;color:#0b5394;font-weight:700;font-size:13pt;padding-bottom:0pt;font-family:"Roboto";line-height:1.15;text-align:left}
h2{padding-top:0pt;color:#000000;font-weight:700;font-size:11pt;padding-bottom:0pt;font-family:"Roboto";line-height:1.0;page-break-after:avoid;text-align:left}
h3{padding-top:12pt;color:#0b5394;font-weight:700;font-size:11pt;padding-bottom:0pt;font-family:"Roboto";line-height:0.3;page-break-after:avoid;text-align:left}
h4{padding-top:0pt;color:#000000;font-size:9pt;padding-bottom:0pt;font-family:"Roboto";line-height:1.0;page-break-after:avoid;text-align:left}
h5{padding-top:8pt;color:#666666;font-size:11pt;padding-bottom:0pt;font-family:"Trebuchet MS";line-height:1.0;page-break-after:avoid;text-align:left}
h6{padding-top:8pt;color:#666666;font-size:11pt;padding-bottom:0pt;font-family:"Trebuchet MS";line-height:1.0;page-break-after:avoid;font-style:italic;text-align:left}
