{% include "layouts/_breadcrumb.html" %}
<div class="posts">
  {% for page in section.pages | reverse %}
    <div class="post">
      {% include "_page_title.html" %}
      {% if page.date %}
        <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
      {% endif %}
      {% if page.summary %}
        {{ page.summary | safe }}
        <p class="continue-reading"><a href="{{ page.permalink }}#continue-reading">Continue Reading</a></p>
      {% else %}
        {{ page.content | safe }}
      {% endif %}

    </div>
  {% endfor %}
</div>
<hr />