{% extends "index.html" %}
{% block content %}
<div class="post embed">
{% set parsed = load_data(url=page.extra.url) | regex_replace(pattern=`<head[\s\S]+?<\/head>`, rep=` `) | regex_replace(pattern=`<script[\s\S]+?<\/script>`, rep=` `) | replace(from="<!DOCTYPE html>", to="") | regex_replace(pattern=`ul\.[^}]+}`, rep=``) | regex_replace(pattern=`(?<close>\})`, rep=`$close
.embed `) | regex_replace(pattern=`(?<close>>)(?<open><)`, rep=`$close
$open`) %}
  {{ parsed | safe}}
</div>
{% endblock content %}