{% extends "base.html" %}

{% block content %}
  {% set section = get_section(path="posts/_index.md") %}
  {% include "_section.html" %}
  {% set page = get_page(path="resume.md") %}
  <h2 class="post-title">
    <a href="{{ page.permalink }}">{{ page.title | safe }}</a>
    <span class="breadcrumb-separator">/</span>
    <a href="https://docs.google.com/document/d/1kIqp7dlp3ve_OZwADFs-07_ufVsyChBLz_1YKgn8ElU">Google Doc</a>
    <span class="breadcrumb-separator">/</span>
    <a href="/assets/Kenzi Connor Resume.pdf">resume.pdf</a>
  </h2>
  {% include "_resume.html" %}
{% endblock content %}