{% extends "base.html" %}

{% block content %}
  {% set section = get_section(path="posts/_index.md") %}
  <div class="posts">
    <h1><a href="{{ section.permalink }}">{{ section.title | safe }}</a></h1>
    {% for page in section.pages | reverse %}
      <div class="post">
        <h2 class="post-title">
          <a href="{{ page.permalink }}">{{ page.title | safe }}</a>
        </h2>
        {% if page.date %}
          <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
        {% endif %}
        {{ page.summary | safe }}
      </div>
    {% endfor %}
  </div>
{% endblock content %}