{%- macro img_exists(path, default='') -%}
   {%- set png = get_image_metadata(path=path ~ '.png', allow_missing=true) -%}
   {%- set jpg = get_image_metadata(path=path ~ '.jpg', allow_missing=true) -%}
   {%- if png -%}
      {%- set path = path ~ '.png' -%}
   {%- elif jpg -%}
      {%- set path = path ~ '.jpg' -%}
   {%- else -%}
      {%- set path = default -%}
   {%- endif -%}
   {{-path-}}
{%- endmacro img_exists -%}


{%- macro header_image(default='/assets/images/me.jpg') -%}
   {%- set base_path = page.components | join(sep="/") -%}
   {%- set path = self::img_exists(path=base_path, default=default) -%}
   {{- path -}}
{%- endmacro header_image -%}