{% extends "layouts/base.html" %}
{%- import "macros.html" as macros -%}
{% block open_graph %}
	<meta property="og:image" content="{{get_url(path=macros::header_image())}}" />
	<meta property="og:title" content="Kenzi Connor: {{ page.title }}">
	<meta property="og:description" content="{{ page.description }}">
{% endblock open_graph %}
{%- block title -%}{{- page.title -}}{%- endblock title -%}
{% block content %}
	{% include "partials/_breadcrumb.html" %}
	{% include "partials/_page.html" %}
{% endblock content %}